@import 'base/variables';
@import 'base/bootstrap';
@import 'base/utils';

$fa-font-path: 'fonts/';
@import 'fontawesome/scss/font-awesome';

@import 'components/loader';
@import 'sbadmin';

$joyride-color: #00e82b;
@import '../../node_modules/react-joyride/lib/styles/react-joyride';

@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic);

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: $bg-color;
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

a {
  color: $link-color;
}

.navbar-inverse {
  background-color: #444;
  border-color: darken(#222, 5);

  .navbar-brand {
    color: $link-color;
  }
}

.github-ribbon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1200;

  img {
    width: 80px;

    @include sm {
      width: 120px;
    }

    @include md {
      width: auto;
    }
  }
}

.switch {
  background-color: lighten($link-color, 20);
  border-radius: 5px;
  display: inline-flex;
  margin-left: 1rem;
  overflow: hidden;

  > a {
    color: lighten($link-color, 10);
    display: flex;
    font-size: 1.4rem;
    line-height: 1;
    padding: 0.4rem 1.3rem;
    text-decoration: none !important;

    &:last-of-type {
      border-left: 1px solid darken($link-color, 30);
    }

    &.active {
      background-color: $link-color;
      color: #fff !important;
      pointer-events: none;
    }
  }
}

.navbar-switch {
  color: $link-color;
  float: left;
  margin-left: 30px;
  padding-top: 14px;
  vertical-align: middle;
}
