{
  "presets": [
    "latest",
    "react",
    "stage-1"
  ],
  "plugins": [
    [
      "transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }
    ]
  ],
  "compact": "true",
  "env": {
    "production": {
      "presets": [
        [
          "latest", {
          "es2015": {
            "modules": false
          }
        }
        ],
        "react",
        "stage-1"
      ],
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-flow-strip-types",
        [
          "transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }
        ]
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "sourceMaps": "both"
    }
  }
}
