{
  "presets": [
    "es2015",
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-assign"
  ],
  "compact": "true",
  "env": {
    "production": {
      "plugins": [
        "transform-inline-environment-variables"
      ]
    }
  }
}
