{
  "presets": [
    [
      "env", {
      "useBuiltIns": true,
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }
    ],
    "react",
    "stage-1"
  ],
  "plugins": [],
  "env": {
    "production": {
      "plugins": [
        "array-includes",
        "external-helpers",
        "transform-flow-strip-types",
        "transform-node-env-inline"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ],
      "sourceMaps": "both"
    }
  }
}
