@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
  background-size: $width $height;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
    background-image: url('#{$file}@2x.#{$type}');
  }
}

@mixin truncate($width: 100%) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $width;
}

@mixin center-child() {
  $distance: 50%;

  position: relative;

  > * {
    left: $distance;
    position: absolute;
    top: $distance;
    transform: translate(-#{$distance}, -#{$distance});
  }
}

@mixin center-child-flex() {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

@mixin vertical-align($top: 50%) {
  position: relative;
  top: $top;
  transform: translateY(-$top);
}

// Media queries shortcuts...
@mixin ie10 {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

@mixin xs-only {
  @include max-screen(breakpoint-max('xs')) {
    @content;
  }
}

@mixin ix {
  @include min-screen(breakpoint-min('ix')) {
    @content;
  }
}

@mixin ix-only {
  @include max-screen(breakpoint-max('ix')) {
    @content;
  }
}

@mixin sm {
  @include min-screen(breakpoint-min('sm')) {
    @content;
  }
}

@mixin sm-only {
  @include max-screen(breakpoint-max('sm')) {
    @content;
  }
}

@mixin is {
  @include min-screen(breakpoint-min('is')) {
    @content;
  }
}

@mixin is-only {
  @include max-screen(breakpoint-max('is')) {
    @content;
  }
}

@mixin md {
  @include min-screen(breakpoint-min('md')) {
    @content;
  }
}

@mixin md-only {
  @include max-screen(breakpoint-max('md')) {
    @content;
  }
}

@mixin im {
  @include min-screen(breakpoint-min('im')) {
    @content;
  }
}

@mixin im-only {
  @include max-screen(breakpoint-max('im')) {
    @content;
  }
}

@mixin lg {
  @include min-screen(breakpoint-min('lg')) {
    @content;
  }
}

@mixin lg-only {
  @include max-screen(breakpoint-max('lg')) {
    @content;
  }
}

@mixin xl {
  @include min-screen(breakpoint-min('xl')) {
    @content;
  }
}

@mixin xxl {
  @include min-screen(breakpoint-min('xxl')) {
    @content;
  }
}

@mixin xxxl {
  @include min-screen(breakpoint-min('xxxl')) {
    @content;
  }
}
