$bg-color: #fff9f2;

$brand-primary: #f04; // lighten($base-color, 15%);
$secondary-color: #e6f212;
$media-path: '../media/';

$font-family-sans-serif: Roboto, sans-serif;
$headings-font-weight: 500;

$enable-flex: true;
$grid-gutter-width: 3rem;

/* stylelint-disable unit-blacklist */
$grid-breakpoints: (
  xs: 0,
  ix: 400px,
  sm: 480px,
  is: 600px,
  md: 768px,
  im: 880px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px,
  xxxl: 1920px
);
/* stylelint-enable */

$container-max-widths: (
  ix: 40rem,
  sm: 48rem,
  is: 58rem,
  md: 72rem,
  im: 88rem,
  lg: 96rem,
  xl: 128rem,
  xxl: 144rem,
  xxxl: 192rem
);
