$bg-color: #fff9f2;
$base-color: #f70017;

$primary-color: #1776b7; //lighten($base-color, 15%);
$secondary-color: #ff67b4;
$media-path: '../media/';

$font-family-sans-serif: Roboto, sans-serif;
$headings-font-weight: 500;

$enable-flex: true;
$grid-gutter-width: 3rem;
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 480px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 1024px,
  // Extra large screen / wide desktop
  xl: 1280px
);
$container-max-widths: (
  sm: 90%, // 480
  md: 80%, // 720
  lg: 960px, // 960
  xl: 800px // 1140
);

